<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Server</key>
		<string>96bad7a0-582e-4211-9553-789cd43131a3</string>
		<key>Organization</key>
		<string>4265614d-419f-4004-86ff-9087ffb0e138sou</string>
	</dict>
</array>
</plist>
